<h3>Company</h3>

{{ company.id }}<br>
{{ company.name }}<br>

<h4>Branches</h4>
{{ company.branches[7].country }}<br>
{{ company.branches[7].region }}<br>
{{ company.branches[7].city }}<br><br>

{{ company.branches[8].country }}<br>
{{ company.branches[8].region }}<br>
{{ company.branches[8].city }}<br><br>


{{ company.country }}<br>
{{ company.city }}<br>
{{ company.postCode }}<br>
{{ company.regNo }}<br>
{{ company.regData.date }}<br>
{{ company.taxNo }}<br>
{{ company.website }}

