
<h3>Companies</h3>
{% for company in companies %}
    * {{ company.name }} <br>
      {{ company.country }} <br>
      {{ company.city }} <br>
      {{ company.postCode }}<br>
      {{ company.regNo }}<br>
      {{ company.regDate.date }}<br>
      {{ company.regDate.timezone }}<br>
      {{ company.branches.country }}
      <br><br>
{% else %}
    No companies have been found.
{% endfor %}