
<h3>Companies</h3>
{% for company in companies %}
    * {{ company.name }} <br>
      {{ company.country }} <br>
      {{ company.city }} <br>
      {{ company.postCode }}<br>
      {{ company.regNo }}<br>
      {{ company.regData.date }}<br>
      {{ company.regData.timezone }}<br>
      <br><br>
{% else %}
    No companies have been found.
{% endfor %}